@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* styles/globals.css */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}
